*{
    font-size: 30px;
}
h1{
    color: rgb(253, 163, 54);
    font-size: 35px;
}
h3{
    color: rgb(224, 180, 67);
    font-size: 30px;
}
p{  color: rgb(44, 44, 44);
    font-size: 25px;
}
a{
    color: gray;
    font-size: 30px;
}
span{
    color: red;
    font-size: 40px;
}