*{
    font-size: 30px;
}
.dh{
    width: 100%;
    background-color: #205f83;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    list-style-type: none;

    padding: 0;
    overflow: hidden;

    background-color: #205f83;
    
    margin: 0 auto;
}

.dh li {
    display: flex;
    float: left;
    border-right: 1px solid #bbb;
}
.dh li:last-child {
    border-right: none;
}

.dh li a {
    display: block;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
/*鼠标移动到选项上修改背景颜色 */
.dh li a:hover {
    background-color: #22222286;
}
.active {
    background-color: #0f5699;
}


/*fonts*/
h2{
    color: rgb(253, 163, 54);
    font-size: 35px;
}
h3{
    color: rgb(224, 180, 67);
    font-size: 30px;
}
p{  color: rgb(44, 44, 44);
    font-size: 25px;
}
a{
    color: gray;
    font-size: 15px;
}
span{
    color: rgb(201, 43, 43);
    font-size: 40px;
}

/*lit*/
body {
    width: 100%;
    position:fixed;
    background-image: url('bgpicture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.main{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #c7c7c7b4;
    border: 200px;
}