@charset "utf-8";


@import "gotop.css";
@import "mapline.css";

*{
    font-size: 30px;
}

/*fonts*/
h2{
    color: rgb(253, 163, 54);
    font-size: 35px;
}
h3{
    color: rgb(224, 180, 67);
    font-size: 30px;
}
p{  color: rgb(44, 44, 44);
    font-size: 25px;
}
a{
    color: gray;
    font-size: 15px;
}
span{
    color: rgb(201, 43, 43);
    font-size: 40px;
}

/*lit*/
body {
    width: 100%;
    position:fixed;
    background-image: url('bgpicture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.main{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #c7c7c7b4;
    border: 200px;
}

